.dropDownWhite{
    width: 120px;
    height: 32px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 17.5px;
    padding: 5px 15px 5px 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: #3f3f3f;
}

.dropDownBlue{
    width: 120px;
    height: 32px;
    background: var(--accent-color);
    border: 1px solid #f6f6f6;
    border-radius: 17.5px;
    padding: 5px 15px 5px 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: white;
}

.select_category{
    outline: none;
    height: 50px;
    line-height: 50px;
    padding:0px 20px;
}

//   select{
//     width: 268px !important;
//     padding: 5px !important;
//     font-size: 16px !important;
//     line-height: 1 !important;
//     border: 0 !important;
//     border-radius: 5px !important;
//     height: 34px !important;
//     background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd !important;
//     -webkit-appearance: none !important;
//     background-position-x: 244px !important;
// }

// select {
//     -webkit-appearance: none !important;
//     -moz-appearance: none !important;
//     background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
//     background-repeat: no-repeat !important;
//     background-position-x: 100% !important;
//     background-position-y: 5px !important;
// }