.dropDownWhite{
    width: 120px;
    height: 32px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 17.5px;
    padding: 5px 15px 5px 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: #3f3f3f;
}

.dropDownBlue{
    width: 120px;
    height: 32px;
    background: var(--accent-color);
    border: 1px solid #f6f6f6;
    border-radius: 17.5px;
    padding: 5px 15px 5px 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: white;
    

        fill: white;

}

.select_category{
    outline: none;
    height: 50px;
    line-height: 50px;
    padding:0px 20px;
}

// select {
//     -webkit-appearance: none !important;
//     -moz-appearance: none !important;
//     background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") !important;
//     background-repeat: no-repeat !important;
//     background-position-x: 90% !important;
//     background-position-y: 10px !important;
// }