.legDetails{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--background-color2);
    margin: 16px 0px;

    >.topLayer{
        display: flex;
        gap: 1.25rem;
    }

    >.closeBtn{
        position: absolute;
        width: 24px;
        height: 24px;
        top: -12px;
        right: -12px;
        cursor: pointer;
    }

    >.copyBtn{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: -12px;
        cursor: pointer;
    }
}