.inputLeg{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 46px;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 32px;
    gap: 1.25rem;

    >.options{
        display: flex;
        gap: 1.25rem;

        >.strikeType{
            display: flex;
            align-items: center;
        }
    }


}