.CheckBox{
    
    >input{
        accent-color: var(--accent-color);
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        margin-right: 8px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        box-sizing: content-box;
        transition: all .2s ease;
    }

    >span{
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 14px;
    }
}